@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url("../fonts/Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-BlackItalic.eot");
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url("../fonts/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/Montserrat-BlackItalic.woff") format("woff"), url("../fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  font-display: swap;
  src: url("../fonts/BebasNeue-Regular.eot");
  src: local("Bebas Neue Regular"), local("BebasNeue-Regular"), url("../fonts/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  font-display: swap;
  src: url("../fonts/BebasNeueBold.eot");
  src: local("BebasNeueBold"), url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

*,
*::before,
*::after {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #f5f8f7;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

.section__relative {
  position: relative;
}

.container__relative {
  position: relative;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  background: url("../img/header.jpg") center no-repeat;
  width: 100%;
  min-height: 861px;
  background-size: cover;
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  bottom: -720px;
  left: 0;
  width: 100%;
  min-height: 1165px;
  background: url("../img/bg.png") center no-repeat;
}

.header-top {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top__logo {
  width: 166px;
  display: block;
  margin-left: 13px;
}

.header-top__contacts {
  text-align: right;
  margin-top: 10px;
  margin-right: -2px;
}

.header-top__phone {
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  color: #4a4e4a;
  margin-bottom: 5px;
}

.header-top__phone::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -50px;
  background: url("../img/phone.png") no-repeat;
  width: 34px;
  height: 40px;
}

.header-top__messager {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  font-weight: 500;
  margin-right: -2px;
}

.header-side__block {
  position: relative;
  max-width: 585px;
}

.header-side__title {
  font-weight: 900;
  font-style: italic;
  color: #383c3d;
  font-size: 66px;
  text-transform: uppercase;
  margin: 102px 0 23px 10px;
  line-height: 72px;
  text-shadow: -3px 3px 3px #ffffff;
}

.header-side__presence {
  color: #0dbe22;
  font-size: 20px;
  font-weight: 700;
  padding-left: 25px;
  position: absolute;
  top: 99px;
  right: 72px;
}

.header-side__presence::before {
  content: '';
  position: absolute;
  top: -9px;
  left: -38px;
  background: url("../img/check.png") no-repeat;
  width: 40px;
  height: 40px;
}

.header-side__text {
  margin: 0 0 99px 11px;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
  line-height: 34px;
}

.header-side__text span {
  display: block;
  font-weight: bold;
}

.header-side__accepted {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  margin: -4px 0 29px 11px;
  position: relative;
  max-width: 350px;
}

.header-side__accepted::after {
  content: '';
  position: absolute;
  top: 13px;
  right: 0;
  background: url("../img/arrow_down.png") no-repeat;
  width: 65px;
  height: 49px;
}

.header-side__accepted span {
  display: block;
  font-weight: bold;
}

.header-side__box {
  max-width: 481px;
  width: 100%;
  height: 71px;
  -webkit-box-shadow: 13px 23px 40px rgba(0, 0, 0, 0.11);
          box-shadow: 13px 23px 40px rgba(0, 0, 0, 0.11);
  border-radius: 12px;
  background-color: #ffffff;
  margin-left: -7px;
  padding: 10px 0 0 77px;
  position: relative;
  z-index: 5;
}

.header-side__box-phone {
  color: #4a4e4a;
  font-size: 47px;
  font-weight: 600;
}

.header-side__box-phone::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 20px;
  background: url("../img/phone_box.png") no-repeat;
  width: 41px;
  height: 40px;
}

.header-side__image {
  position: absolute;
  right: -130px;
  top: -80px;
  background: url("../img/hero.png") center no-repeat;
  max-width: 746px;
  width: 100%;
  min-height: 751px;
}

.header-side__circle {
  position: absolute;
  top: -105px;
  right: -40px;
  background: url("../img/circle.png") no-repeat;
  max-width: 234px;
  width: 100%;
  height: 234px;
  z-index: 10;
}

.header-side__size {
  position: relative;
}

.cards__title {
  color: #000000;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  margin: 63px 0 62px 14px;
  position: relative;
}

.cards__title span {
  display: block;
  font-weight: 500;
  color: #525460;
  margin-left: 11px;
}

.cards-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-blocks__items {
  position: relative;
  margin-left: 15px;
}

.card-block {
  max-width: 360px;
  width: 100%;
  padding: 33px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 13px 23px 40px rgba(0, 0, 0, 0.11);
          box-shadow: 13px 23px 40px rgba(0, 0, 0, 0.11);
  border-radius: 20px;
  border: 1px solid #b9bdc1;
}

.card-block__title {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  max-width: 230px;
  margin: 0 auto;
  position: relative;
}

.card-block__title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -9px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 21px;
  height: 2px;
  background-color: #000000;
}

.card-block__subtitle {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  display: block;
  max-width: 220px;
  margin: 25px auto 0;
}

.card-block__image {
  background-color: #f5f8f7;
  max-width: 358px;
  width: 100%;
  height: 251px;
}

.card-block__image img {
  margin: 0 auto;
}

.card-block:nth-child(1) .card-block__image {
  margin-top: 88px;
}

.card-block:nth-child(2) .card-block__image {
  margin-top: 48px;
}

.card-block:nth-child(3) .card-block__image {
  margin-top: 72px;
}

.card-block__item {
  position: relative;
  margin-bottom: 106px;
}

.card-block__box {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0 4px 4px 0;
  background-color: #776fc4;
  padding: 12px 20px;
  position: absolute;
  top: 190px;
  left: 0;
}

.card-block__bottom {
  padding: 40px 19px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-block__price {
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  color: #a4a4ad;
  margin: -16px -3px 0;
}

.card-block__price-bold {
  display: inline-block;
  color: #000000;
  font-weight: bold;
  font-size: 48px;
}

.card-block__price-reg {
  color: #000000;
  display: inline-block;
  font-size: 48px;
  font-weight: normal;
}

.card-block__price small {
  font-size: 18px;
  margin-left: 6px;
}

.card-block__nall {
  font-family: 'Bebas Neue', cursive;
  color: #0dbe22;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  padding-right: 62px;
}

.card-block__nall::after {
  content: '';
  position: absolute;
  top: -17px;
  right: 0;
  background: url("../img/checked.png") no-repeat;
  width: 52px;
  height: 52px;
}

.card-block__line {
  margin: 0 18px 20px;
  border: 1px dashed #000000;
}

.card-block__button {
  border: none;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.footer__title {
  color: #000000;
  margin: 0 0 47px 15px;
  text-align: center;
  font-size: 57px;
  font-weight: 900;
}

.footer__line {
  border-bottom: 1px dashed #000000;
}

.footer__line--last {
  margin-bottom: 80px;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 33px 10px 0px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 17px;
}

.footer-contact img {
  margin-top: -16px;
  margin-left: -19px;
}

.footer-contact:nth-child(2) {
  margin-right: 130px;
}

.footer-contact:nth-child(2) .telephone {
  padding-top: 15px;
}

.footer-contact:nth-child(2) .telephone a {
  margin-top: 14px;
}

.address {
  max-width: 335px;
  font-size: 20px;
  padding-top: 6px;
  padding-left: 17px;
  color: #000000;
}

.address span {
  display: block;
  font-weight: bold;
  line-height: 24px;
  margin-top: 10px;
}

.telephone {
  max-width: 335px;
  font-size: 20px;
  padding-top: 6px;
  padding-left: 17px;
  color: #000000;
}

.telephone a {
  display: block;
  font-weight: bold;
  line-height: 24px;
  margin-top: 10px;
  color: #000000;
  font-size: 36px;
}

.mask {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 40;
  background-color: rgba(29, 29, 29, 0.9);
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
  max-width: 1160px;
  width: 100%;
  padding: 55px 23px 55px 0;
  -webkit-box-shadow: 13px 23px 40px rgba(0, 0, 0, 0.11);
          box-shadow: 13px 23px 40px rgba(0, 0, 0, 0.11);
  border-radius: 20px;
  border: 1px solid #b9bdc1;
  background-color: #ffffff;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: url("../img/close.png") no-repeat;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
}

.modal-slide__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-slide__description {
  color: #000000;
  margin-top: -4px;
}

.modal-slide__image {
  max-width: 419px;
  width: 100%;
  height: 342px;
}

.modal-slide__title {
  max-width: 500px;
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 25px 0;
}

.modal-slide__text {
  max-width: 675px;
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 18px 0;
}

.modal-arrows__prev, .modal-arrows__next {
  position: absolute;
  bottom: 38px;
  background-size: cover;
  cursor: pointer;
}

.modal-arrows__prev {
  background: url("../img/prev.png") center no-repeat;
  width: 8px;
  height: 14px;
  left: 37px;
}

.modal-arrows__next {
  background: url("../img/next.png") center no-repeat;
  width: 9px;
  height: 16px;
  left: 86px;
}

@media (max-width: 1430px) {
  .header-side__image {
    right: -50px;
    background-size: contain;
    max-width: 650px;
  }
}

@media (max-width: 1280px) {
  .header {
    min-height: 800px;
  }
  .header-side__image {
    max-width: 570px;
    right: 0;
  }
  .header-side__circle {
    right: 0;
  }
  .cards-blocks__items {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .modal {
    max-width: 900px;
  }
  .modal-slide__text {
    font-size: 16px;
  }
  .modal-slide__description {
    margin-top: 0;
    max-width: 400px;
  }
}

@media (max-width: 1120px) {
  .header-side__image {
    max-width: 450px;
  }
  .cards-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards__title {
    margin: 0 0 62px 0;
  }
  .card-block__item {
    margin-bottom: 35px;
  }
}

@media (max-width: 1100px) {
  .footer-contact:nth-child(2) {
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .header {
    min-height: 740px;
  }
}

@media (max-width: 935px) {
  .modal {
    max-width: 730px;
  }
  .modal-slide__image {
    max-width: 320px;
  }
  .modal-slide__description {
    max-width: 350px;
  }
  .footer-contact {
    margin: 0 auto !important;
  }
  .header {
    min-height: 650px;
  }
  .header-side__image {
    display: none;
  }
  .header-side__circle {
    top: 100px;
  }
  .header-side__title {
    margin: 50px 0 20px 0;
  }
}

@media (max-width: 768px) {
  .modal-slide__image {
    display: none;
  }
  .modal-slide__description {
    max-width: 420px;
    margin: 0 auto;
  }
  .header-side__circle {
    top: 150px;
  }
}

@media (max-width: 630px) {
  .header-side__title {
    font-size: 34px;
    line-height: normal;
  }
  .header-side__text {
    font-size: 20px;
    margin: 0 0 240px 0;
    line-height: normal;
  }
  .header-side__circle {
    top: 105px;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header-side__presence {
    display: none;
  }
  .header-side__accepted {
    z-index: 10;
    font-size: 18px;
    margin: 0 0 20px 0;
    max-width: 280px;
  }
  .header-side__box {
    margin: 0 auto;
    max-width: 320px;
    height: 56px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-side__box-phone {
    font-size: 28px;
  }
  .header-side__box-phone::before {
    display: none;
  }
}

@media (max-width: 500px) {
  .address,
  .telephone {
    font-size: 16px;
  }
  .address span,
  .telephone span {
    line-height: normal;
  }
  .telephone a {
    font-size: 20px;
  }
  .footer-contact {
    padding: 20px 10px 0px;
    margin: 0 !important;
  }
  .footer-contact img {
    display: none;
  }
}

@media (max-width: 480px) {
  .modal-arrows__prev, .modal-arrows__next {
    bottom: 25px;
  }
  .modal-slide__description {
    max-width: 350px;
    overflow-x: scroll;
  }
  .cards__title {
    font-size: 24px;
    line-height: normal;
    margin: 50px 0;
  }
  .header-top {
    padding-top: 25px;
  }
  .header-top__logo {
    margin-left: 0;
  }
  .header-side__title {
    margin: 35px 0 15px 0;
  }
  .header-side__circle {
    top: 135px;
  }
  .header-side__box {
    max-width: 280px;
  }
  .header-side__box-phone {
    font-size: 24px;
  }
}

@media (max-width: 420px) {
  .modal-slide__description {
    max-width: 320px;
    overflow-x: scroll;
    height: 460px;
  }
  .footer__title {
    font-size: 36px;
    margin: 20px 0;
  }
  .footer__line--last {
    margin-bottom: 40px;
  }
  .header {
    min-height: 630px;
  }
  .header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
  .header-top__logo {
    margin-right: auto;
    margin-bottom: 20px;
  }
  .header-top__contacts {
    margin-right: auto;
    margin-left: 50px;
  }
  .header-side__title {
    font-size: 24px;
  }
  .header-side__text {
    font-size: 16px;
    margin: 0 0 215px 0;
  }
  .header-side__circle {
    top: 70px;
  }
  .header-side__accepted {
    text-align: center;
    margin: 0 auto 15px;
  }
  .header-side__accepted::after {
    display: none;
  }
}

@media (max-width: 380px) {
  .modal-slide__description {
    max-width: 280px;
    overflow-x: scroll;
    height: 360px;
  }
  .card-block {
    padding: 20px 0;
  }
  .card-block:nth-child(1) .card-block__image, .card-block:nth-child(2) .card-block__image, .card-block:nth-child(3) .card-block__image {
    margin-top: 45px;
  }
  .card-block:nth-child(2) .card-block__box {
    top: 167px;
  }
  .card-block:nth-child(3) .card-block__box {
    top: 148px;
  }
  .card-block__box {
    top: 130px;
  }
  .card-block__bottom {
    padding: 25px 15px 0;
  }
  .card-block__price-bold, .card-block__price-reg {
    font-size: 38px;
  }
  .card-block__price small {
    margin-left: 0;
  }
  .card-block__title {
    font-size: 18px;
  }
}

@media (max-width: 347px) {
  .card-block__image {
    height: 230px;
  }
  .card-block__price-bold, .card-block__price-reg {
    font-size: 28px;
  }
  .header-side__title {
    text-align: center;
  }
  .header-side__text {
    text-align: center;
    margin: 0 0 190px 0;
  }
  .header-side__text span {
    display: inline-block;
  }
}

@media (max-width: 320px) {
  .card-block__image {
    height: 210px;
  }
}
/*# sourceMappingURL=style.css.map */